
**/*.rs.bk
*.swo
*.swp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.env
.fseventsd
.idea/
.logs/
.runtime/
.vscode/
/target
Cargo.lock
Icon
